.imageGalleryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.imageGalleryListItem {
  width: calc(25% - 10px);
  height: 250px;
  margin-bottom: 10px;
  list-style: none;
  object-fit: cover;
  overflow: hidden;

  transition: transform 0.3s ease-in-out;
}

.imageGalleryListItem:hover {
  transform: scale(1.02);
}
